* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
  /*                  NAV SLOGAN MAIN  FOOTER*/
  grid-template-rows: 50px 200px auto 50px;
}

.grid-container header {
  background-color: aliceblue;
  /* grid-column-start: 1;
  grid-column-end: 5; */
  grid-column: 1/5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

header img {
  width: 30px;
  height: 30px;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

a {
  text-decoration: none;
  color: black;
}

.slogan {
  grid-column: 1/5;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.grid-container main {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 16px;
  gap: 32px 0;
}
.recipe-card {
  width: 80%;
  background-color: aliceblue;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  justify-self: center;
  gap: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* padding: 0 16px 16px 16px; */
}

.recipe-card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.recipe-card h2,
.recipe-card p {
  margin: 0px 16px;
}

.recipe-card button {
  margin-bottom: 16px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: orange;
  color: white;
}

.grid-container aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  padding: 16px;
}

aside img {
  border-radius: 8px;
}

.icons-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

i {
  font-size: 30px;
  /* color: orange; */
}

.github {
  color: black;
}

.twitter {
  color: #179cf0;
}

.facebook {
  color: #106aff;
}

footer {
  grid-column: 1/5;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .grid-container main {
    /* grid-column: 1/5; */
    grid-column: 1/-1;
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-container aside {
    grid-column: 1/-1;
  }

  .grid-container {
    /*                  NAV SLOGAN MAIN ASIDE FOOTER*/
    grid-template-rows: 50px 200px auto auto 50px;
  }
}

@media screen and (max-width: 468px) {
  .grid-container main {
    grid-template-columns: 1fr;
  }

  .hamburger {
    display: block;
  }

  header nav {
    display: none;
    flex-direction: column;
    background-color: aliceblue;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    padding: 10px 0;
    gap: 16px;
    font-size: 24px;
  }

  /* Show menu when checkbox is checked */
  #menu-toggle:checked + .hamburger + nav {
    display: flex;
  }
}
